/* flex container에 적용되는 스타일들 */

.flex-container{
    height: 700px;
    background-color: #ddd;

    display: flex;

    /* 
        flex-container에 지정 가능한 속성으로, 내부 item들이 자동으로 공백이
        사라지면서 content영역만큼의 크기를 가진채로 중심축 기준 정렬이 된다.

        기본 정렬축은 왼쪽에서 오른쪽
    */

    /* 
        flex-direction
         - flex-container 전용속성
         - 중심축의 방향과 시작 위치를 지정하는 속성    
    */

    
    /* 중심축은 그대로, 정렬 방향이 바뀜 */
    flex-direction: row-reverse;
    
    /* 중심축이 열 기준으로 바뀜, 교차축도 행이 됨 */
    flex-direction: column;
     
    /* 중심축이 열, 정렬방향이 바뀜 */
    flex-direction: column-reverse;

    /* row 행방향(기본값) */
    flex-direction: row;


    /* flex-wrap */
    /* 
        내부 item들을 "포장"하는 속성
        item들이 강제로 한줄에 배치되게 할 것인지, 한줄을 벗어나 여러줄로 배치되게
        할 것인지를 지정 

        기본값은 한줄 배치(nowrap)
    */


    flex-wrap: nowrap;
    
    /* container가 작아지면 아래로 item을 배치되게 한다. */
    flex-wrap: wrap;


    /* 밑에서 부터 위로 올라옴 */
    flex-wrap: wrap-reverse;


    /* flex-flow */
    /* 
    - flex-container의 중심축의 방향, 순서와 여러줄로 배치할지에 대한 여부를
      한번에 설정하는 속성
    
    - flex-direction + flex-wrap을 합친 속성
    */

    flex-flow: row-reverse wrap;
    
    /* 기본값 */
    flex-flow: row nowrap;


    /* 
        justify-content
         - 내용을 조정하다
         - 중심축 방향으로 item의 정렬 방법을 조정하는 속성
    
    */


    /* 중심축의 시작지점을 기준으로 정렬(기본값) */
    justify-content: flex-start;
    
    /* 중심축의 끝지점을 기준으로 정렬 */
    justify-content: flex-end;
    
    /* 중심축의 가운데 기준으로 정렬 */
    justify-content: center;
    
    /* item 주위에 중심축 방향 양쪽으로 일정한 크기의 공간을 추가 하여 정렬*/
    justify-content: space-around;
    
    /* 양쪽끝 빈공간도 일정한 크기로 공간 할당*/
    justify-content: space-evenly;
    
    /* 양쪽끝 공간을 할당하지 않은다*/
    justify-content: space-between;

    
    /*  
        align-item
         -item들을 교차축 방향으로 정렬하는 방법을 지정하는 속성

    */

    /* 기본값  height를 정해놓지 않았다면 아래로 당겨짐*/
    align-items: stretch;
    
    /* 교차축의 시작지점을 기준으로 정렬 */
    align-items: flex-start;
    
    /* 교차축의 끝지점을 기준으로 정렬 */
    align-items: flex-end;

    /* 교차축의 가운데 지점을 기준으로 정렬 */
    align-items: center;


    /* item내부 content 요소가 모두 한줄에 배치될 수 있도록
    하는 설정 */
    align-items: baseline;


}


.item2{padding : 10px}
.item3{padding : 20px}
.item4{padding : 30px}


#con{
    width: 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
}


#center{
    width: 80px;
    height: 80px;
    background-color: skyblue;
}
