

/* font-size */
/* 크롬 브라우저 기준 기본 글꼴 크기 16px */
#size-test>li:nth-child(1){
font-size: 24px;
}

#size-test>li:nth-child(2){
font-size: 18pt;
}

#size-test>li:nth-child(3){
font-size: 150%;
}

#size-test>li:nth-child(4){
font-size: 1.5em;
}


/* font-wheight */

#weight-test > li {font-size: 34px;}

#weight-test > li:nth-child(1) {
    font-weight: 600;
}

/* bold 700 */
#weight-test > li:nth-child(2) {
    font-weight: bold;
} 

/*상속받은 값보다 더 굵게  */
#weight-test > li:nth-child(3) {
    font-weight: bolder;
}

/* 상속받은 값보다 얇게 */
#weight-test > li:nth-child(4) {
    font-weight: lighter;
}

/* 기본값 */
#weight-test > li:nth-child(4) {
    font-weight: normal;
}



/* font-family */
.cls > li {
    font-size: 24px;
}


#family-test1 > li:nth-child(1){
    font-family: '궁서';
}


/* 지정 순서를 지정 가능, 처음 글자체가 없으면 다음 글자체 적용 */
#family-test1 > li:nth-child(2){
    font-family: '경민체','동희체','굴림체' ;
}



/* note sana 폰트 */
/* link 방식 */
#famliy-test2>li:nth-child(1){
    /* 선택자는 우리가 지정 */
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* weight는 지정 */
  font-style : normal;
  font-variation-settings:
    "wdth" 100;
}

#famliy-test2>li:nth-child(2){
    /* 선택자는 우리가 지정 */
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  /* weight는 지정 */
  font-style : normal;
  font-variation-settings:
    "wdth" 100;
}
