img{
    /* 픽셀을 깨뜨리지 않게 하기 위해 이미지의 height는 auto로 지정되어 있다 */
    width: 250px;
    height: auto;
}


/*  transform : 변형과 관련된 속성 */

/* x축을 기준으로 100px 이동 */
.trans-x-2d:hover{
    transform : translateX(100px);
}

/* Y축을 기준으로 100px 이동 */
.trans-y-2d:hover{
    transform: translateY(100px);
}

/* 대각선으로 이동을 위해 x y 모두 지정 */
.trans-d-2d:hover{
    transform: translate(100px , 100px);
}


/* 좌우로 늘리기 , 배율로 지정  */
.trans-x-scale:hover{
    transform: scaleX(2);
}

/* 위아래 늘리기 , 배율로 지정  */
.trans-y-scale:hover{
    transform: scaleY(2);
}

/* 대각선으로 늘리기 , 배율로 지정  */
.trans-d-scale:hover{
    transform: scale(2, 2);
}

/* 요소 돌리기 , 각도로 지정  */
.trans-rotate:hover{
    transform: rotate(180deg)
}

/* 3d 이동 , x,y,z 값으로 이동 */
.trans-3d:hover{
    /* perspective(z축 길이) : 원근법 적용, 설정을 안해 놓으면0px*/

    transform: perspective(300px) translate3d(50px , 50px , 100px);
}
/* 3d 이동 x축 회전 , 각도로 지정*/
.trans-rotate-x-3d:hover{
    transform: perspective(300px) rotateX(45deg);
}
/* 3d 이동 , y축회전 , 각도로 지정 */
.trans-rotate-y-3d:hover{
    transform: perspective(300px) rotateY(45deg);
}
/* 3d 이동 , z축회전, 각도로 지정 */
.trans-rotate-z-3d:hover{
    transform: perspective(300px) rotateZ(45deg);
}

/* 3d 이동 , x,y, z축회전, xyz 순서대로 회전 비율을 적고 회전할 각도 지정*/
.trans-rotate-3d:hover{
    transform: perspective(300px) rotate3d(0.5 , 0.5 , 0.5, 45deg);
}


/* transition */
.box{
    width:150px;
    height: 150px;
    border : 1px solid black;
    background-color: skyblue;

    /* 스타일이 변경되는 시간을 지정 s : 초 */
    transition-duration: 1s;
}

.test1:hover{
    background-color: yellow;
}

.test2:hover{
    transform:rotate(360deg);
    background-color: blue;

    /* border-radius 테두리의 직각형을 조정 50%로 하면 원이 됨 */
    border-radius: 100%;
}

.test3{
    /* 변경에 걸리는 시간 */
    transition-duration: 3s;


    transition-timing-function: cubic-bezier(0,0.69,0,2.91);
    /* 기본값 ease */
    /* cubic-bizer로 조정 가능 */
}

.test3:hover{
    background-color: red;
}


/* transition-delay 일정 시간 기다린후 변형 */
/* transition-property 변형과 관련된 속성 지정 */
.test4{
    transition-delay: 1S;
    transition-property: background-color,transform;
}

.test4:hover{
    background-color:yellow;
    font-size:50px;
    transform: translateX(100px);
}