/* 1. 일반 구조 선택자 */
/* :first-child : 형제관계의 요소 중 첫번째 요소를 선택 */
/* p를 넣지 않아도 적용됨, 다만 정확히 알아보기 위해 넣어주는 게 좋음 */
#test1 > p:first-child{
    background-color: red;
    color: blanchedalmond;
}

/* 
   :last child : 형제관계의 요소중 마지막 요소 선택
   pre 대신에 p를 넣어도 똑같이 적용
*/
#test1 > pre:last-child{  
    background-color: aqua;
}


/* 
nth-child(수열) : 형제 관계의 요소중 지정된 수열번재 요소를 모두 선택하는 선택자
p 태그가 없어도 적용이 됨
*/

#test1 > p:nth-child(2){
    background-color: darkgoldenrod;
}

#test1 > p:nth-child(2n-1){
    font-size: 20px;
    background-color: blueviolet;
    font-weight: bold;

}

/* p를 지우면 모든 해당 짝수번째에 적용 */

#test1 > p:nth-child(even){
    border : 1px solid black
}

/* 
odd 홀수
even 짝수 
border 테두리 설정 스타일
*/


/* 
 :nth-last-child(수열)
   -형제 관계 요소중 "뒤에서부터" 지정된 수열번째 요소를 선택
*/

#test1 > p:nth-last-child(2){
    background-color: hotpink;
}


/* 2. 형태 구조 선택자 */
/* :first-of-type : "같이 선택된 형제 요소들" 중 첫번째 요소 */
/* p나 pre를 생략하면 각각의 첫번째 태그가 선택된다 */


#test2 > p:first-of-type{
    background-color: orange;

}

#test2 > pre:first-of-type{
    background-color: blue;

}


/* :last-of-type : "같이 선택된 형제 요소들" 중 마지막 요소 */

#test2 > p:last-of-type{
    background-color: skyblue;
}


/* :nth-of-type */

#test2 > p:nth-of-type(2n){
    font-size: 30px;
}

/* :nth-last-of-type */

#test2 > p:nth-last-of-type(odd){
    background-color: red;
}

/* 부정 선택자 */
/* #test3의 자식 li 요소들 중 3의 배수를 제외한 나머지 요소만 선택 */
#test3 > li:nth-of-type(3n){
    background-color: pink;
}

#test3 > li:not(li:nth-of-type(3n)){
    background-color: hotpink;
}
