div#container1.highlight{
    background-color: yellow;
}

#container2 p{
    color : pink;
}

#container2>p{
    color:red
}

#container3>input:not(:last-child){
    border : 1px solid blue;
}

#container4>.title, h1{
    color :green;
    font-size: 20px;
}

div[class^=user]{
    background-color: lightgray;
}

div[class$=info]{
    color : red;
}

div[class*=product]{
    background-color: coral;
}

div[class|=admin]{
    background-color: greenyellow;
}

#container7> li:nth-of-type(2){
    font-weight: bold;
}

.container8> p:only-of-type{
    color: blue;
}

#container9>p[title*=important]:not(div>p[title*=not-important]){
    background-color: red;
}

#menu>li.active{
    color : red
}